// Place all the styles related to the definicions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contenido{
  width: 80%;
  margin: 100px auto;
  min-height: 300px;
  padding: 50px;
  -webkit-box-shadow: 1px 5px 20px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 5px 20px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 5px 20px rgba(50, 50, 50, 0.75);

  .sanar, .tinta, .con{
    width: 30%;
    float: left;
    text-align: center;
    min-height: 100px;
    .text{
      border: 1px solid gray;
      width: 100%;
      height: 100px;
      padding: 10px;
      text-align: left;

    }
  }
  .nombres{
    float: right;
  }
}

