// Place all the styles related to the definicions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contenido{
  width: 80%;
  margin: 100px auto;
  min-height: 300px;
  padding: 50px;
  -webkit-box-shadow: 1px 5px 20px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 5px 20px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 5px 20px rgba(50, 50, 50, 0.75);
  border-radius: 5px;

  .sanar, .tinta, .con{
    width: 30%;
    float: left;
    text-align: center;
    min-height: 100px;
    .text{
      border: 1px solid gray;
      width: 100%;
      height: 100px;
      padding: 10px;
      text-align: left;

    }
  }
  .con{
    margin-top: 10%;
    font-weight: bolder;
  }
  .nombres{
    float: right;
    margin-right: 80px;

  }
}

.flash{
  position: relative;
  margin: 0 auto;
  padding: 15px 50px 15px 15px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  &.notice{
    color: #264c72;
    border: 1px solid #97c1da;
    border-radius: 3px;
    background-color: #d0e3ef;
    background-image: -moz-linear-gradient(#d8ebf8, #d0e3ef);
    background-image: -webkit-linear-gradient(#d8ebf8, #d0e3ef);
    background-image: linear-gradient(#d8ebf8, #d0e3ef);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
  }
  &.warning{
    color: #613A00;
    background-color: #f5dac0;
    background-image: -moz-linear-gradient(#ffe3c8, #f5dac0);
    background-image: -webkit-linear-gradient(#ffe3c8, #f5dac0);
    background-image: linear-gradient(#ffe3c8, #f5dac0);
    background-repeat: repeat-x;
    border: 1px solid #dca874;
  }
  &.alert{
    color: #9c2400;
    background-color: #efd0d0;
    background-image: -moz-linear-gradient(#f8d8d8, #efd0d0);
    background-image: -webkit-linear-gradient(#f8d8d8, #efd0d0);
    background-image: linear-gradient(#f8d8d8, #efd0d0);
    background-repeat: repeat-x;
    border: 1px solid #da9797;
  }
}


